<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>ModeShape add node</title>
        <style>
            body{
                font-size: 10pt;
            }
        </style>
    </h:head>
    <h:body>
        <p:ajaxStatus onstart="loading.show();" onsuccess="loading.hide();"/>  
        <p:dialog widgetVar="loading" resizable="false" closable="false">
            <h:outputText value="loading..."/>
        </p:dialog>
        <p:growl id="notification"/>
        <h:form id="addForm">
            parent path : <p:inputText value="#{addAndDeleteManagedBean.parentPath}"/>
            <br/><br/>
            child name : <p:inputText value="#{addAndDeleteManagedBean.childName}"/>
            <br/><br/>
            <p:commandButton value="add node" actionListener="#{addAndDeleteManagedBean.onAdd()}" update=":addForm, :notification"></p:commandButton>
            <p:spacer width="10"/>
            <p:commandButton value="list node" actionListener="#{addAndDeleteManagedBean.listNode()}" update=":addForm"/>
            <br/>
            <br/>
            <p:tree value="#{addAndDeleteManagedBean.rootTree}" 
                    var="node" 
                    selectionMode="single"
                    orientation="horizontal">
                <p:ajax event="select" update=":informationPanel, :notification" listener="#{addAndDeleteManagedBean.onNodeSelect}" oncomplete="nodeInformation.show();"/>
                <p:treeNode>
                    <h:outputText value="#{node.name}"/>
                </p:treeNode>
            </p:tree>
        </h:form>

        <p:dialog widgetVar="nodeInformation"
                  header="Node Information"
                  modal="false"
                  resizable="false"
                  width="900">
            <p:outputPanel id="informationPanel">
                <h:panelGrid columns="2">
                    <h:outputText value="name : "/>
                    <h:outputText value="#{addAndDeleteManagedBean.selectedNode.data.name}"/>

                    <h:outputText value="path : "/>
                    <h:outputText value="#{addAndDeleteManagedBean.selectedNode.data.path}"/>

                    <h:outputText value="index : "/>
                    <h:outputText value="#{addAndDeleteManagedBean.selectedNode.data.index}"/>

                    <h:outputText value="identifier : "/>
                    <h:outputText value="#{addAndDeleteManagedBean.selectedNode.data.identifier}"/>

                    <h:outputText value="depth : "/>
                    <h:outputText value="#{addAndDeleteManagedBean.selectedNode.data.depth}"/>

                    <h:outputText value="primaryNodeType.name : "/>
                    <h:outputText value="#{addAndDeleteManagedBean.selectedNode.data.primaryNodeType.name}"/>

                    <h:outputText value="session.userID : "/>
                    <h:outputText value="#{addAndDeleteManagedBean.selectedNode.data.session.userID}"/>

                    <h:outputText value="definition.defaultPrimaryTypeName : "/>
                    <h:outputText value="#{addAndDeleteManagedBean.selectedNode.data.definition.defaultPrimaryTypeName}"/>
                </h:panelGrid>
                <br/>
                <br/>
                <h:outputText value="properties" style="margin-bottom: 5px; display: block;"/>

                <p:dataList value="#{addAndDeleteManagedBean.properties}"
                             var="item">
                    <h:outputText value="#{item.name}[#{item.type}] => #{item.value}"/>
                </p:dataList>
                <br/>
                <br/>
                <p:commandButton value="delete" 
                                 actionListener="#{addAndDeleteManagedBean.onDelete()}" 
                                 oncomplete="nodeInformation.hide();"
                                 update=":addForm, :notification">
                    <f:param name="deletePath" value="#{addAndDeleteManagedBean.selectedNode.data.path}"/>
                </p:commandButton>
            </p:outputPanel>
        </p:dialog>
    </h:body>
</html>

