<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>download file ModeShape</title>
    </h:head>
    <h:body>
        <h:form>
            <p:dataList value="#{downloadFileManagedBean.nodes}"
                        var="item">
                <a href="#{facesContext.externalContext.requestContextPath}/downloadFile?fileName=#{item.name}">#{item.name}</a>
            </p:dataList>
        </h:form>
    </h:body>
</html>
