<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>ModeShape Find by Path</title>
    </h:head>
    <h:body>
        <p:growl id="notification"/>
        <h:form id="find">
            <h:panelGrid columns="2">
                <h:outputText value="path : "/>
                <p:outputPanel>
                    <p:inputText value="#{findByPathManagedBean.path}" style="width: 400px;"/>
                    <p:spacer width="10"/>
                    <h:outputText value="(Example : /project-file/mra/SQL/plsql)"/>
                </p:outputPanel>

                <h:outputText value=""/>
                <p:commandButton value="find" actionListener="#{findByPathManagedBean.onFind()}" update=":find, :notification"/>
            </h:panelGrid>
            <br/>
            <br/>
            <h:panelGrid columns="2">
                <h:outputText value="name : "/>
                <h:outputText value="#{findByPathManagedBean.resultNode.name}"/>

                <h:outputText value="index : "/>
                <h:outputText value="#{findByPathManagedBean.resultNode.index}"/>

                <h:outputText value="identifier : "/>
                <h:outputText value="#{findByPathManagedBean.resultNode.identifier}"/>

                <h:outputText value="path : "/>
                <h:outputText value="#{findByPathManagedBean.resultNode.path}"/>

                <h:outputText value="depth : "/>
                <h:outputText value="#{findByPathManagedBean.resultNode.depth}"/>
            </h:panelGrid>

        </h:form>
    </h:body>
</html>
