<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>ModeShape</title>
        <style>
            body{
                font-size: 10pt;
            }
        </style>
    </h:head>
    <h:body>
        <ul>
            <li>
                <a href="search.xhtml">search</a>
            </li>
            <li>
                <a href="findByPath.xhtml">find by path</a>
            </li>
            <li>
                <a href="addAndDelete.xhtml">add and delete</a>
            </li>
            <li>
                <a href="uploadFile.xhtml">upload File</a>
            </li>
            <li>
                <a href="downloadFile.xhtml">download File</a>
            </li>
        </ul>
    </h:body>
</html>

