<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Search ModeShape</title>
        <style>
            body{
                font-size: 10pt;
            }
        </style>
    </h:head>
    <h:body>
        <p:growl id="notification"/>
        <h:form id="searchForm">
            <h:panelGrid columns="2">
                <h:outputText value="expression : "/>
                <p:inputTextarea value="#{searchManagedBean.expression}" style="width: 700px; height: 200px;"/>

                <h:outputText value=""/>
                <p:commandButton value="search" actionListener="#{searchManagedBean.onSearch()}" update=":searchForm, :notification"/>
            </h:panelGrid>
            <br/>
            <br/>
            <p:dataTable value="#{searchManagedBean.resultNodes}"
                         rowIndexVar="count"
                         var="item">
                <p:column headerText="no." style="width: 50px;">
                    <h:outputText value="#{count + 1}"/>
                </p:column>
                <p:column headerText="name">
                    <h:outputText value="#{item.name}"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </h:body>
</html>
