<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>upload file ModeShape</title>
    </h:head>
    <h:body>
        <h:form enctype="multipart/form-data">

            <p:fileUpload fileUploadListener="#{uploadFileManagedBean.onUpload}"
                          mode="advanced" 
                          auto="true"
                          update="notification"/>

            <p:growl id="notification" showDetail="true"/>
        </h:form>
    </h:body>
</html>
